.fachada{
    color: gold;
    text-align: center;
    border-radius: 20px;    
    background-color: blue;
    border: 2px solid gold;
    width: 40%;
    margin: auto;
}



.prateleira{
    display: flex;
    height: 200px;
    align-items: center;


}

.prateleira_classe{
    display: flex  ;
    flex-direction: column;
    height: 40%;  
    width: 20%;
    padding: 2% 2%;
    align-items: center;
    text-align: center; 
    gap: 15px;
}

.item{
    background-color:  burlywood;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid black;    
}

.titulo{
    color: gold;
    text-align: center;
    border-radius: 10px;    
    background-color: blue;
    border: 2px solid gold;
    width: 300px;
    height: 200px;


}

.img_item{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body{
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-preto-antigo-textura-do-grunge-papel-de-parede-escuro-quadro-negro-quadro-negro-parede-da-sala_1258-28312.jpg?w=996&t=st=1696880147~exp=1696880747~hmac=3e1d4e2cdf758ce89f4e899f581d19ca4d6e5da372f26c2ebaab6edb65baea84);

}